.pokemonCard{
width: 80%;
margin: 2rem auto; /* Esto centra el contenedor horizontalmente */
padding: 1rem;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

background-color: #f9f9f9;
border-radius: 2.4rem;

text-align: center;
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
max-width: 600px; /* Limitar el tamaño máximo */
}

p{
  text-align: center;
  font-size: 1.5rem;
}

.pokemonColumns1:hover img{
filter: drop-shadow(0px 0px 12px grey) ;
/* background-color: aqua;
width: 50%;
object-fit: cover; */

} 

@media (max-width: 768px) {
    .pokemonCard {
      width: 90%; /* Más ancho en pantallas pequeñas */
    }
    .pokemonCard img {
        width: 50%; /* Aún más pequeña para pantallas estrechas */
      }
  }

  @media (max-width: 250px) {
    .pokemonCard {
      width: 60%; /* Más ancho en pantallas pequeñas */
      font-size: .5rem;
    }
    .pokemonCard img {
        width: 50%; /* Aún más pequeña para pantallas estrechas */
      }
  }