form{
    /* background-color: aqua; */
    background-color: #202020;
    width: 100vw; /* Hace que el formulario ocupe todo el ancho de la pantalla */
    
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    padding: 1.5rem;
    color: white;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
  }

  label{
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
  }
  form input{
    height: 3rem;
    width: 45rem;
    max-width: 80%; /* Ajusta el ancho máximo en pantallas pequeñas */
  }

  button {
    background-color: #ff6700;
    border: none;
    padding: 0.8rem 1.2rem;
    margin-left: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #ff8533;
  }


  @media (max-width: 520px) {
    form {
      flex-direction: column; /* Cambia la dirección de los elementos */
      align-items: center;
  }

  form input {
      width: 100%; /* Asegúrate de que el input ocupe todo el ancho posible */
  }

  button {
      
      width: 30%; /* Ajusta el ancho del botón para que también ocupe todo el espacio disponible */
     
  }

  label {
      font-size: 2.5rem; /* Reduce el tamaño del texto en pantallas pequeñas */
  }
}