.label {
    font-size: 1.5rem; /* Cambia el tamaño según lo que necesites */
    font-weight: bold; /* Opcional, para hacer el texto más grueso */
    color: #333; /* Opcional, cambia el color si es necesario */
    
  }
  